h4 {
	font-size: 35px;
	text-align: center;
	padding: 15px;
	font-family: 'Shrikhand', cursive;
	color: #EEC82D;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

.homepage {
	margin: 75px;
	font-size: 50px;
	font-family: 'Shrikhand', cursive;
	color: #EEC82D;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

li {
	display: inline;
	margin: 15px;
}

ul {
	text-align: center;
	padding: 5px;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	color: #EEC82D;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black

}

a {
	text-decoration: none;
}

a:visited {
	color: #EEC82D;
}

.vundimg2 {
	width: 100%;
	height: 40%;
	margin-top: 5px;
	margin-bottom: 25px;
}

h1 {
	font-size: 50px;
	color: #0900FC;
	text-align: center;
	font-family:'Shrikhand', cursive;
	margin-top: 15px;
}

.byline {
	font-size: 30px;
	color: #EEC82D;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.date {
	font-size: 15px;
	color: #EEC82D;
	text-align: left;
	font-family: 'Raleway', sans-serif;
	margin-top: 75px;
}

p {
	font-size: 20px;
	color: #4978FA;
	font-family: 'Raleway', sans-serif;
	text-align: justify;
	margin: 20px;
	margin-left-right: 35px;
}

.firstblock {
	font-size: 40px;
}

blockquote {
	font-size: 40px;
	color: #4978FA;
	font-family: 'Raleway', sans-serif;
	margin: 20px;
}

.vundimg3 {
	float: left;
	margin: 25px;
}

.vundimg4 {
	float: right;
	margin: 25px;
	width: 50%;
	height: 50%;
}

.charlyimg2 {
	width: 100%;
	height: 20%;
	margin-top: 5px;
	margin-bottom: 25px;
}

.charlyimg3 {
	float: left;
	width: 75%;
	height: 40%;
	margin: 25px;
	padding-left: 125px;
}


@media screen and (max-width: 400px) {
	body h4 {
		font-size: 150%;
	}

	h1 {
		font-size: 200%;
	}
	.date {
		margin-top: 20px;
		font-size: 90%;
	}
	.vundimg2 {
	width: 101%;
	height: 40%;
	}
	.byline {
		font-size: 100%;
	}
	.firstblock { 
		font-size: 30px;
	 }
	 p {
	 	text-align: left;
	 	font-size: 20px;
	 }
	 blockquote {
	 	font-size: 30px;
	 }
	 .vundimg3 {
	 	float: none;
	 	margin: 20px;
	 	height: 100%;
	 	width: 90%;
	 }
	 .vundimg4 {
	 	float: none;
	 	margin: 20px;
	 	height: 80%;
	 	width: 90%;
	 }
	.charlyimg3 {
		width: 90%;
		height: 40%;
		padding-left: 0px;
		padding-bottom: 20px;
		margin: 20px;
		
		
}

}












