h4 {
	font-size: 35px;
	text-align: center;
	padding: 15px;
	font-family: 'Shrikhand', cursive;
	color: #EEC82D;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

.homepage {
	margin: 75px;
	font-size: 50px;
	font-family: 'Shrikhand', cursive;
	color: #EEC82D;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

li {
	display: inline;
	margin: 15px;
	font-size: 60px;
}

ul {
	text-align: center;
	padding: 5px;
	font-size: 60px;
	font-family: 'Raleway', sans-serif;
	color: #EEC82D;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black

}

a {
	text-decoration: none;
}

a:visited {
	color: #EEC82D;
}

h1 {
	font-size: 50px;
	color: #0900FC;
	text-align: left;
	margin-top: 75px;
	margin-left: 75px;
	font-family:'Shrikhand', cursive;
}

.Vundabar {
	font-size: 20px;
	color: #EEC82D;
	font-family:'Raleway', sans-serif;
	text-align: center;
	padding-left: 40px;
}

.Vundabar a:visited {
	color: #EEC82D;
}

.Vundabar a:hover {
	color: #4978FA;
	transition: all 1s;
}

.vundimg {
	width: 350px;
	height: 350px;
	border: 3px solid #4978FA;
}

.Charly {
	font-size: 20px;
	color: #EEC82D;
	font-family:'Raleway', sans-serif;
	text-align: center;
	padding-left: 50px;
}

.Charly a:visited {
	color: #EEC82D;
}

.Charly a:hover {
	color: #4978FA;
	transition: all 1s;
}

.charlyimg {
	width: 350px;
	height: 350px;
	border: 3px solid #4978FA;
}

.hopimg {
	width: 350px;
	height: 350px;
	border: 3px solid #4978FA;
}

.pinegroveimg {
	width: 350px;
	height: 350px;
	border: 3px solid #4978FA;
}

.Hop {
	font-size: 20px;
	color: #EEC82D;
	font-family:'Raleway', sans-serif;
	text-align: center;
}

.Hop:hover {
	color: #4978FA;
	transition: all 1s;
}

.Pinegrove {
	font-size: 20px;
	color: #EEC82D;
	font-family:'Raleway', sans-serif;
	text-align: center;
}

.Pinegrove:hover {
	color: #4978FA;
	transition: all 1s;
}

.porches {
	width: 300px;
	height: 300px;
	border: 3px solid #4978FA;
}

.bbc {
	width: 300px;
	height: 300px;
	border: 3px solid #4978FA;
}

.jank {
	width: 300px;
	height: 300px;
	border: 3px solid #4978FA;
}


@media screen and (max-width: 400px) {
	body h1 {
		font-size: 200%;
		text-align: left;
	}

}

























